* {
	box-sizing: border-box;
}

body {

}



section { 

	color: black;
	border: 3px solid black;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 10px;


  }
#section1 {
	color: green;
	border: 3px solid black;
	margin-bottom: 10px;
	border-radius: 20px;
	padding: 10px;

}
#section2 {
	color: red;
	border: 3px solid black;
	margin-bottom: 10px;
	border-radius: 20px;
	padding: 20px;

}

#image_section {
	background-image: url("pkm_logo.jpg");
	background-position: bottom right; 
	background-repeat: no-repeat;
	background-size: 20%;
}

#deux_colonnes {
	background-color: pink;
}

.left_p {
	width: 45%;
	float: left;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
}

.right_p {
	width: 45%;
	float: right;
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
}

#bottom_p {
	clear: right;
}

ul {

	color: grey;
}

ol li {
	color: purple;
}

header ul {
	list-style: none;
	text-align: center;

}

header a:link, a:visited {
	text-decoration: none;
	background-color: grey;
	border: 2px solid black;
	color: black;
	display: block;	
	margin-bottom: 3px;
}

header a:hover, a:active {
	font-size: 2em;
	color: red;
}

#bottom_link {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;


}

#bottom_link a {
	
	background-color: green;
	padding: 5px;
	margin: 5px;
	display: block;



}


#bottom_link a:link, a:visited {
	text-decoration: none;
	border: 2px solid black;
	border-radius: 50px;
	color: black;
	text-align: center;
}

#bottom_link a:hover, a:active {
	font-size: 2em;
	color: blue;
}

h1 { 

	color: red;
	text-align: center;
 }

h2 { 

	text-align: center;
 	color: blue;
 }